<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    <ion-label><h1><strong>Create Account</strong></h1></ion-label>
    <ion-label><h2>It's quick and easy</h2></ion-label>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">First name</ion-label>
                <ion-input type="name" required></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Last name</ion-label>
                <ion-input type="name" required></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" required></ion-input>
              </ion-item>
      
              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required></ion-input>
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>