/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.my-custom-class {
    --background: #222;
    --width: 450px;
  }


#container a {
  text-decoration: none;
}

/* Main Body*/


// Ionic components styling


/* Background*/
// the background for the home page
ion-content.home-page{
    --background: url('./assets/home/background/bgTop.png') no-repeat;

}
// the background for the user-profile page 
ion-content.user-profile-page{
  --background: url('./assets/home/background/bgTop.png') no-repeat;

}


ion-item.input{
  border-radius: 10px !important;
  border: 1px solid #bad3f0 !important;
}

.heading{
  font-weight: 500;
}

#info-panel{
  margin-left: 36%;
  margin-top: 10.5%;
  width:48.3%;
}




