
<ion-content class="user-profile-page">
  <div class="container">
    <div>
      <ion-card>
        <ion-card-header>
          <strong>Welcome</strong>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            {{email}}
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="data-wrapper">
      <div class="menu">
        <ion-card >
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>
                <strong>User Data</strong>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/user-profile/biodata']" routerLinkActive="selected" lines="none" button="true" class="ion-activated">
              <ion-label>Bio-Data of Mother</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/user-profile/family-identification']" routerLinkActive="selected" lines="none" button="true" class="ion-activated">
              <ion-label>Family Identification</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/user-profile/previous-pregnancy-history']"routerLinkActive="selected" lines="none" button="true" class="ion-activated">
              Previous Pregnancy History
            </ion-item>
            <ion-item [routerLink]="['/user-profile/current-pregnancy-record']" routerLinkActive="selected" lines="none" button="true" class="ion-activated">
              <ion-label>Current Pregnancy Record</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/user-profile/pregnancy-investigations']"routerLinkActive="selected" lines="none" button="true" class="ion-activated">
              <ion-label>Pregnancy Investigations</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>           
      <div class="info-panel">         
            <ion-router-outlet></ion-router-outlet>
      </div>

    </div>

  </div>
</ion-content>






