// padding for Data ion-card
.container{
    width: 70%;
    margin: auto;
}
//line the data-wrapper with the top card
.menu{
    width: 30%;
}

.info-panel{
    height: 500px;
}
.data-wrapper{
    border: 2px solid red;
}

