// padding for Data ion-card
.container{
    width: 70%;
    margin: auto;
}
//line the data-wrapper with the top card
.data-wrapper ion-card{
    margin: 0px;
}
.data-wrapper #info-panel{
    height: 100%;
}
